body {
    font-family: 'Varela Round', sans-serif;


}

h1 {

    margin-top: 15px;
    margin-bottom: 10px;

}

#submit-form {

    margin-top: 10px;
    padding-right: 500px;


}

#buttons-view {

    background-color: azure;


}

#submit-button {

    margin-top: -5px;
    margin-left: -1px;

}


button
 {
  margin: 10px;
}

p {
    margin-top: 20px;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    #submit-form {
      padding-right: 100px;
    }
    #submit-button {
    margin-left: 400px;
    margin-top: -85px;

    }

  }

  /* @media only screen and (max-width: 768px) {

    #submit-form {

        padding-right: 200px;

    }

    #submit-button {

        margin-left: 420px;
        margin-top: -100px;

    }

  } */